<% photos.forEach(photo => { %>
    <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
        <div class="position-relative tm-thumbnail-container">
            <img src="img/tn-01.jpg" alt="Image" class="img-fluid tm-catalog-item-img">
            <a href="video-page.html" class="position-absolute tm-img-overlay">
                <i class="fas fa-play tm-overlay-icon"></i>
            </a>
        </div>
        <div class="p-4 tm-bg-gray tm-catalog-item-description">
            <h3 class="tm-text-primary mb-3 tm-catalog-item-title"><%= photo.title %> </h3>
            <p class="tm-catalog-item-text"><%= photo.description %> </p>
        </div>
    </div>
    <% }) %>